.bio-section {
    background-color: #efefef;
    height: 100vh;
}

.bio-right-section {
    margin-left: 50px;
}
.head-shot {
    max-width: 250px;
    max-height: 250px;
    border-radius: 999px;
}

.bio-paragraph {
    text-align: left;
}

.external-link-items {

}