.experience-item {
    margin: 35px 0;
}
.experience-image {
    display: inline-block;
    vertical-align: middle;
}
.experience-text {
    display: inline-block;
    direction: initial;
    vertical-align: middle;
    width: 35%;
}
.experience-image img {
    height: 100px;
}

.experience-hr {
    width: 50%;
}