.project-item {
    box-shadow: 1px 1px 5px #888888;
    margin: 7px;
    width: 30%;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    color: white;
    position: relative;
    border-radius: 7px;
    overflow: hidden;
}

.project-text {
    position: absolute;
    bottom: 0;
}

.project-title {
    height: 25px;
}

.project-title a {
    color: white;
    text-decoration: none;
}